body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: url("/images/airport.png") no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

/* Overlay for readability */
body::before {
    content: "";
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    z-index:-1;
}

h1 {
    font-size: 42px;
    margin-top: 30px;
    font-weight: bold;
}

/* FORM */
form {
    background: rgba(255,255,255,0.95);
    color: black;
    padding: 25px;
    width: 350px;
    margin: 30px auto;
    border-radius: 12px;
}

input, select {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* BUTTON */
button {
    padding: 12px 20px;
    background: #0077cc;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
}

button:hover {
    background: #004999;
}

/* MENU */
.menu a {
    display: block;
    background: #0077cc;
    margin: 10px auto;
    padding: 12px;
    width: 260px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu a:hover {
    background: #004999;
}

/* TABLE */
table {
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    color: black;
}

th {
    background: #0077cc;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
}

/* ERROR */
.error {
    color: red;
    font-weight: bold;
}

/* SUCCESS */
.success {
    color: green;
    font-weight: bold;
}