<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Flight Ticket</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<h1>Flight Ticket</h1>

<div class="ticketBox">

<p><b>Passenger:</b>
<span th:text="${booking.passengerName}"></span>
</p>

<p><b>Tickets Booked:</b>
<span th:text="${booking.tickets}"></span>
</p>

<p><b>Flight:</b>
<span th:text="${booking.flight.flightNo}"></span>
</p>

<p><b>Source:</b>
<span th:text="${booking.flight.source}"></span>
</p>

<p><b>Destination:</b>
<span th:text="${booking.flight.destination}"></span>
</p>
<p>Date: <span th:text="${booking.travelDate}"></span></p>
</div>

<a href="/dashboard">Back to Dashboard</a>
<a sec:authorize="hasRole('ADMIN')" href="/adminDashboard">Back</a>

<a sec:authorize="hasRole('STAFF')" href="/staffDashboard">Back</a>

<a sec:authorize="hasRole('USER')" href="/userDashboard">Back</a>

</body>
</html>