<!DOCTYPE html>
<html>
<head>
<title>Bookings</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<h1>Bookings</h1>

<table border="1">

<tr>
    <th>Passenger</th>
    <th>Flight</th>
    <th>Date</th>
    <th>Seats</th>
    <th>Tickets</th>
    <th>Total Price</th>
    <th>User</th>
</tr>

<tr th:each="b : ${bookings}">
    <td th:text="${b.passengerName}"></td>
    <td th:text="${b.flight.flightNo}"></td>
    <td th:text="${b.travelDate}"></td>
    <td th:text="${b.seatNumbers}"></td>
    <td th:text="${b.tickets}"></td>
    <td th:text="${b.totalPrice}"></td>
    <td th:text="${b.username}"></td>
</tr>

</table>

</body>
</html>