<!DOCTYPE html>
<html>
<head>
<title>Flights</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<h1>Available Flights</h1>

<table border="1">

<tr>
    <th>Flight No</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Date</th>
    <th>Time</th>
    <th>Total Seats</th>
    <th>Remaining</th>
    <th>Price</th>
    <th>Action</th>
</tr>

<tr th:each="f : ${flights}">
    <td th:text="${f.flightNo}"></td>
    <td th:text="${f.source}"></td>
    <td th:text="${f.destination}"></td>
    <td th:text="${f.travelDate}"></td>
    <td th:text="${f.departureTime}"></td>
    <td th:text="${f.totalSeats}"></td>
    <td th:text="${f.remainingSeats}"></td>
    <td th:text="${f.ticketPrice}"></td>

    <!-- Only ADMIN can delete -->
    <td>
        <a th:href="@{/delete/{id}(id=${f.id})}"
           sec:authorize="hasRole('ADMIN')">Delete</a>
    </td>
</tr>

</table>

</body>
</html>